* {
    padding: 0;
    margin: 0;
    border: 0;
}

#mapcanvas {
    width: 100%;
    height: 100%;
}

#menu {
    position: absolute;
    left: 16px;
    top: 16px;
}

.menubutton {
    width: 64px;
}
