body {
    background-color: #000000;
    background-image: url("splash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFFFFF;
    height: 100vh;
    text-align: center;
}

.centered {
    margin: 0 auto;
    width: 25%;
}
